<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Bem-vindo!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">

  <ion-card>
        <ion-card-header>

              <ion-card-title>Cadastre-se!</ion-card-title>
             

        </ion-card-header>
      
        <ion-card-content>
                <ion-item>
                      <ion-input placeholder="Nome" ></ion-input>
                </ion-item>
            
                <ion-item>
                      <ion-input placeholder="*******" type="password"></ion-input>
                </ion-item>


                <ion-button expand="block" color="danger"  [routerLink]="['/ficha']" class="btn">Entrar</ion-button>

        </ion-card-content>
  </ion-card>

  <!-- [routerLink]="['/ficha']" -->
</ion-content>